<% if(loggedIn) { %>
<div class="container">
    <div class="row">
        <div class="col usertwez">
            <!--Profile image-->
            <div>
                <img class="defaultprofile" src="/images/feather.png" alt="default profile picture">
            </div>
            <!--Profile information-->
            <div>
                <div>
                    <%= currentUser.name.first + " " + currentUser.name.last %>
                </div>
                <div>
                    <%= currentUser.userName %>
                </div>
                <div>
                    Twez Count
                </div>
            </div>
            <div>
                <a href="<%= `/users/${currentUser._id}/edit` %>">Edit Info</a>
            </div>
            <div>
                <a href="<%= `/users/${currentUser._id}/delete?_method=DELETE` %>" onclick="return confirm('Delete Account?')">Delete Account</a>
            </div>

        </div>
        <div class="col usertwez">
            <h5>Trends</h5>
        </div>
        <div class="col usertwez">
            <h5>Who to follow</h5>
            <a href = "/users">
                Users Page
            </a>
        </div>
        <!--User Twez-->
        <div class="col-md-12 usertwez">
            <form action="<%= `/posts/${currentUser._id}/create` %>" method="POST">
                <label for="createTwez">Write a Twez</label>
                <textarea class="form-control" id="createTwez" name="twezInput"></textarea>
                <div class="btn-box-actions">
                    <button type="submit">Write</button>
                </div>
            </form>
        </div>
        <% if(typeof usersposts !== "undefined"){ %>
            <% usersposts.forEach(item => { %>
        <div class="col-md-12 usertwez">
            <div>
                <img class="defaultprofile" src="/images/feather.png" alt="default profile picture">
            </div>
            <div>
                <%= user.userName %>
            </div>
            <div>
                <p><%= item.text %></p>
            </div>
            <form>
                <div class="btn-box-actions">
                    <button type="button">Comment</button>
                    <button type="button">Like</button>
                    <button type="button">Dislike</button>
                    <% if(currentUser._id.equals(item.author)) {%>
                    <a href="<%= `/posts/${item._id}/delete?_method=DELETE`%>" onclick="return confirm('Delete Post?')">Delete Post</a>
                        <% } %>
                </div>
            </form>
        </div>
        <% }) %>
        <% } %>
    </div>
</div>
<% } else { %>
<div class="container">
    <h2>You must login to view your homepage!</h2>
</div>
<% } %>